<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
<display-name>ttjsyxt</display-name>
<servlet>
<servlet-name>masterLogin</servlet-name>
<servlet-class>com.ttjsyxt.servlet.masterLogin</servlet-class>
</servlet>
<servlet>
<servlet-name>seachBarcode</servlet-name>
<servlet-class>com.ttjsyxt.barcode.seachBarcode</servlet-class>
</servlet>
<servlet>
<servlet-name>wareHousing</servlet-name>
<servlet-class>com.ttjsyxt.servlet.Warehousing</servlet-class>
</servlet>
<servlet>
<servlet-name>Delete</servlet-name>
<servlet-class>com.ttjsyxt.servlet.Delete</servlet-class>
</servlet>
<servlet>
<servlet-name>AdminLogoutServlet</servlet-name>
<servlet-class>com.ttjsyxt.servlet.AdminLogoutServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>masterLogin</servlet-name>
<url-pattern>/servlet/masterLogin</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>seachBarcode</servlet-name>
<url-pattern>/servlet/seachBarcode</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>wareHousing</servlet-name>
<url-pattern>/servlet/wareHousing</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>Delete</servlet-name>
<url-pattern>/servlet/Delete</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>AdminLogoutServlet</servlet-name>
<url-pattern>/servlet/AdminLogoutServlet</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
</web-app>